<div class="header-container">
  <div class="header-container-logo">
    <img class="header-container-logo-img"
         [routerLink]="'/Home'"
         src="assets/imgs/logo-avengers-superhero-header3.png "
         alt="logo-header">
  </div>
  <div class="header-container-battleBtn">
    <button class="header-container-battleBtn-btn"
            [routerLink]="'/Battle'"
            mat-raised-button >Battle</button>
  </div>
  <div class="header-container-userCard">
    <button class="header-container-userCard-btn"
            [routerLink]="'/User'"
            mat-raised-button >User</button>
  </div>
</div>
