<div class="registration-form">
  <div class="registration-form_nav">
    <p class="registration-form_nav__question">
      Are You Already Have Account ?
    </p>
    <button class="btn" mat-raised-button
            color="primary"
            [routerLink]="'/Login'"
    >Log in</button>
  </div>
  <div class="registration-form-container">
    <div class="registration-form-container__email">

      <p class="registration-form-container__email__labels">
        USER NAME
      </p>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Enter Your User Name</mat-label>
        <input matInput type="text" [formControl]="registrationForm.get('userName') | getControl">
      </mat-form-field>

      <p class="registration-form-container__email__labels">
        EMAIL
      </p>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Enter Your Email </mat-label>
          <input type="email" matInput [formControl]="registrationForm.get('email') | getControl" placeholder="Ex. example@example.com">
        </mat-form-field>
      </form>

      <p class="registration-form-container__email__labels">
        PASSWORD
      </p>
      <mat-form-field>
        <input matInput placeholder="Enter Your Password" [formControl]="registrationForm.get('password') | getControl">
      </mat-form-field>

      <p class="registration-form-container__email__labels">
        CONFIRM PASSWORD
      </p>
      <mat-form-field>
        <input matInput placeholder="Confirm Your Password" [formControl]="registrationForm.get('confPassword') | getControl">
       </mat-form-field>
    </div>

    <p *ngIf="registrationForm.hasError('error')"> {{registrationForm.getError('error')}} </p>

    <button class="btn" mat-raised-button
            color="primary"
            [disabled]="!registrationForm.valid"
            (click)="registration()"
    >Create new account</button>
  </div>
</div>
