.registration-form {
  padding-top: 200px;
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__email {
      &__lable {
        font-family: Helvetica;
        font-size: 20px;
        font-weight: 800;
        color: #0606c1;

      }
    }
  }
}
